{% extends "layout.html" %}
    {% block body %}
        <ul style="list-style-type: none;">
            {% for city in city_list %}
                <li><a href="/search?id={{ city.id }}&unit={{ unit }}">{{ city.name }}</a></li>
            {% endfor %}
        </ul>
    {% endblock %}