{% extends "layout.html" %}
{% block body %}
    <div>
        <h1>Simple Weather</h1>
    </div>
    <form action="/search" method="POST">
        <input type="text" placeholder="City name" required autofocus name="city_name">
        <input type="radio" id="metric" name="units" value="metric" checked>
        <label for="metric">Metric</label>
        <input type="radio" id="imperial" name="units" value="imperial">
        <label for="imperial">Imperial</label>
        <input type="submit">
    </form>
    <div>{{ Error }} </div>
{% endblock %}