<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>Simple Weather</title>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>

</html>